{% extends "base_generic.html" %}

{% block content %}

<h1>The Python Zoo</h1>
<p>The Python Zoo is the final project assignment for ITSE1302 at San Antonio College (Central Texas Technology Center Campus).  The project is developed using teh Django framework.  It is a great assignment and I am happy that I got a chance to work on it.</p>

<p>I've included two Lorem paragrpahs here so the page looks longer.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus ac sem vel ornare. Quisque tempus cursus euismod. Nullam lobortis urna libero, eu efficitur sapien pretium pulvinar. Vivamus finibus orci nec justo varius porta. In hac habitasse platea dictumst. Suspendisse leo dolor, dictum non lacus id, sodales faucibus mi. Vestibulum vehicula dolor sit amet vulputate efficitur. Etiam semper convallis cursus. Curabitur nec est ac tortor blandit lacinia. Fusce at varius arcu, maximus fermentum ex.</p>

<p>Aliquam erat volutpat. Morbi quis lacus ut velit laoreet feugiat. Quisque malesuada nisi libero, eget congue mauris scelerisque sit amet. Praesent placerat, est non cursus ullamcorper, velit magna auctor leo, dapibus suscipit tellus diam ac odio. Aenean vitae blandit leo. Cras erat felis, auctor at nulla tincidunt, interdum pulvinar elit. Pellentesque in facilisis erat. Aliquam mi nulla, efficitur eu consectetur vitae, accumsan eu ipsum. Integer vitae nibh consequat, fermentum ex a, mattis libero. Nunc sem ante, ullamcorper a dictum vel, condimentum ut ipsum. Pellentesque felis urna, lacinia quis arcu vitae, porta efficitur tellus. Phasellus tincidunt sagittis hendrerit. Integer at nunc at nisl ornare gravida. Nam vestibulum nulla eget accumsan commodo. Donec nisi orci, tincidunt nec lobortis eget, aliquet non nisi. Integer nec posuere dui, vitae gravida magna.</p>

{% endblock %}
