<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Welcome to my Zoo</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class='header'>
    <div class='logo'>
      <a href='/'><img src="{% static 'images/logo.png' %}"></a>
    </div>
    <div class='menu'>
      <ul>
        <li><a href="{% url 'aboutus' %}">ABOUT</a></li>
        <li><a href="{% url 'contactus' %}">CONTACT</a></li>
        <li>
          <a href='https://www.facebook.com/nationalzoo/'>
            <img class='fb' src="{% static 'images/fb.png' %}">
          </a>
        </li>
        <li>
          <a href='https://www.instagram.com/smithsonianzoo/'>
            <img class='instagram' src="{% static 'images/instagram.png' %}">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='body'>
    <div class='content'>
      {% block content %}{% endblock %}
    </div>
  </div>
</body>

</html>
